/*CUSTOM CSS By TK*/

/*========== Start of General ===========*/

li.breadcrumb-item a {

  text-decoration: underline !important;
}
li.breadcrumb-item a:hover {
  color: blue;
  text-decoration: underline !important;
}


/*========== End of General ===========*/


/*Dashboard*/

.card-shadow {
  transition: all .2s ease-in;
}

.card-shadow:hover {
  box-shadow: 0 14px 26px -12px rgba(101, 101, 101, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(101, 101, 101, 0.2);
  transition: all .2s ease-out;

}

.card-shadow-2:hover {
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-shadow-2{
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
  transition: all .3s ease;
}

.card-border {
  border: 2px solid rgba(0, 0, 0, 0.12);
}

.progress.vertical {
    position: relative;
    width: 20px;
    min-height: 240px;
    float: left;
    margin-right: 20px;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.circle {
  /* position: relative; */
  width: 70px;
  height: 70px;
  line-height: 69px;
  text-align: center;
  border: 2px solid #6c757d;
  border-radius: 50%
}


/* ALARM TABLE */
.bg-success {
  background-color: #26dad2 !important;
  transition: All 0.7s
}
.bg-success > td {
  color:white;
}
.bg-danger > td {
  color:white;
}
.tabledit-toolbar.btn-toolbar {
  display: inline-block;
}

#example23.table > thead > tr > th {
  line-height: 16px;
}

#example23 thead tr th:last-child {
    text-align: left;
}

#example23 tbody tr td:last-child {
    text-align: left;
}
/*hide compy button*/
.dt-button.buttons-copy.buttons-html5 {
  display: none;
}

div.smoothie-chart-tooltip {
  background: #444;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas;
  color: white;
  font-size: 10px;
  pointer-events: none;
}
