/*CUSTOM CSS By TK*/

/*========== Start of General ===========*/

li.breadcrumb-item a {

  text-decoration: underline !important;
}
li.breadcrumb-item a:hover {
  color: blue;
  text-decoration: underline !important;
}


/*========== End of General ===========*/


/*Dashboard*/

.card-shadow {
  transition: all .2s ease-in;
}

.card-shadow:hover {
  box-shadow: 0 14px 26px -12px rgba(101, 101, 101, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(101, 101, 101, 0.2);
  transition: all .2s ease-out;

}

.card-shadow-2:hover {
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-shadow-2{
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
  transition: all .3s ease;
}

.card-shadow-3{
  box-shadow: 2px 3px 50px 0px rgba(46, 61, 73, 0.5);
  transition: all .3s ease;
}
.card-shadow-3:hover {
  box-shadow: 3px 5px 50px 5px rgba(46, 61, 73, 0.5);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-border {
  border: 2px solid rgba(0, 0, 0, 0.12);
}

.progress.vertical {
    position: relative;
    width: 20px;
    min-height: 240px;
    float: left;
    margin-right: 20px;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.circle {
  /* position: relative; */
  width: 70px;
  height: 70px;
  line-height: 69px;
  text-align: center;
  border: 2px solid #6c757d;
  border-radius: 50%
}


/* ALARM TABLE */
.bg-warning {
  background-color: #ffb64d !important;
  transition: All 0.7s
}
.bg-warning > td {
  color:black !important;
}
.bg-success {
  background-color: #26dad2 !important;
  transition: All 0.7s
}
.bg-success > td {
  color:white !important;
}
.bg-danger > td {
  color:white;
}
.tabledit-toolbar.btn-toolbar {
  display: inline-block;
}

#example23.table > thead > tr > th {
  line-height: 16px;
}

#example23 thead tr th:last-child {
    text-align: left;
}

#example23 tbody tr td:last-child {
    text-align: left;
}
/*hide compy button*/
.dt-button.buttons-copy.buttons-html5 {
  display: none;
}

div.smoothie-chart-tooltip {
  background: #444;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas;
  color: white;
  font-size: 10px;
  pointer-events: none;
}


/*tabs */
.faded {
  opacity: 0;

}

.faded.active.show {
  opacity: 1;
  transition: opacity .5s linear;
}

.grid-list-toggle {
  min-width: 130px;
}

/*CARDS on GRID*/

.card-responsive {
  height: 250px;
  width: 250px

}

.hr-thick-white {
  border-color: white;
  border-width: 4px;
}

.card-header-custom {
  background: #fff;
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  height: 100px;
  text-align: center;
  padding: 30px 0px;
  border-radius: 16px 16px 0 0;
}

#cards-custom .card {
  padding: 0;
  border-radius: 16px;
}

#cards-custom .card-body {
  padding: 15px;
  border-radius:0px 0px 16px 16px;
}


.grid-heading {
  position: relative;
  padding:40% 0 5% 0;
  /* margin: 5% 0; */
  margin: 0;
  border-radius: 16px 16px 0 0;
}

.grid-stats {
  position: relative;
  padding: 0 15px;
  line-height: 50%;
  margin: 10% 0;
  /* top: 25%; */
  bottom: 5%;
}
