/*CUSTOM CSS By TK*/


/*Dashboard*/

.card-shadow {
  transition: all .2s ease-in;
}

.card-shadow:hover {
  box-shadow: 0 14px 26px -12px rgba(101, 101, 101, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(101, 101, 101, 0.2);
  transition: all .2s ease-out;

}

.card-shadow-2:hover {
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-shadow-2{
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
  transition: all .3s ease;
}

.card-border {
  border: 2px solid rgba(0, 0, 0, 0.12);
}

.progress.vertical {
    position: relative;
    width: 20px;
    min-height: 240px;
    float: left;
    margin-right: 20px;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.circle {
  /* position: relative; */
  width: 70px;
  height: 70px;
  line-height: 69px;
  text-align: center;
  border: 2px solid #6c757d;
  border-radius: 50%
}
